<div class="row">
  <div class="col-sm-10 offset-sm-1 .offset-md-1">
    <%= render partial: 'profile_header', locals: { user: @user } %>

    <%= form_with model: @user, local: true do |form| %>
        <div class="row top-buffer">
          <div class="col-sm-5">
            <h2 class="h4">Basic information</h2>
            <div class="row">
              <div class="col-sm-5"><strong>Birthday:</strong></div>
              <div class="col-sm-7"><%= @user.birthdate %></div>
            </div>


            <div class="row">
              <div class="col-sm-5"><strong>College:</strong></div>
              <div class="col-sm-7">
                <%= form.text_field :college, class: 'form-control' %>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-5"><strong>Hometown:</strong></div>
              <div class="col-sm-7">
                <%= form.text_field :hometown, class: 'form-control' %>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-5"><strong>Lives in:</strong></div>
              <div class="col-sm-7">
                <%= form.text_field :lives_in, class: 'form-control' %>
              </div>
            </div>

            <h2 class="h4 top-buffer">Contact information</h2>
            <div class="row">
              <div class="col-sm-5"><strong>Email</strong></div>
              <div class="col-sm-7"><%= @user.account.email %></div>
            </div>
            <div class="row">
              <div class="col-sm-5"><strong>Telephone</strong></div>
              <div class="col-sm-7">
                <%= form.telephone_field :telephone, class: 'form-control' %>
              </div>
            </div>

          </div>

          <div class="col-sm-7">
            <h2 class="h4">Words to live by</h2>
            <%= form.text_area :words_live_by, class: 'form-control', rows: 3 %>
            <h2 class="h4 top-buffer">About me</h2>
            <%= form.text_area :about_me, class: 'form-control', rows: 5 %>
          </div>
        </div>
        <div class="row top-buffer">
          <div class="col-sm-5 offset-sm-3">
            <%= form.submit 'Save changes', class: 'btn btn-primary btn-block' %>
          </div>
        </div>
    <% end %>
  </div>

</div>
