<%= content_for :photo_header_addon do %>
  <span class="float-right">
              <% if user.id == current_user.id %>
                <%= link_to 'Add photo!',
                            new_photo_path,
                            class: 'btn btn-primary btn-sm' %>
              <% end %>
            </span>
<% end %>

<%= content_for :photo_content do %>
  <div class="card-body">
    <div class="row">
      <% photos.each do |photo| %>
        <div class="col-sm-3 bottom-buffer">
          <%= link_to_if( linkable_photo?(user), image_tag(photo.file_path.thumb.url),
                          photo_path(photo)) %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>

<%= render partial: 'photos/photos_layout', locals: { user: user } %>
