<%= content_for :photo_content do %>
  <div class="card-body">
    <div class="row">
      <div class="col-sm-7">
        <%= image_tag photo.file_path.url, class: 'img-fluid' %>

        <% if user.id == current_user.id %>
          <div class="float-right">
            <%= link_to 'Set as profile',
                        photo_set_profile_path(photo),
                        method: :post
            %>
            <br>
            <%= link_to 'Set as cover',
                        photo_set_cover_path(photo),
                        method: :post %>
            <br>
            <%= link_to 'Delete photo', photo_path(photo), method: :delete, data: { confirm: 'Ya sure?' } %>
          </div>
        <% end %>

      </div>

      <div class="col-sm-5">
        <div class="card-text">
          <% if user.avatar.present? %>
            <%= image_tag user.avatar, size: '65', class: 'float-left mr-sm-1' %>
          <% end %>

          <%= user.name %><br>
          <span class="text-secondary">
                    <%= PhotoDecorator.new(photo).formatted_date %>
                  </span>
        </div>
      </div>
    </div>
  </div>
<% end %>

<%= render partial: 'photos/photos_layout', locals: { user: user } %>
