<%= content_for :photo_content do %>
  <div class="card-body">
    <div class="row">
      <div class="col-sm-7">
        <%= image_tag photo.file_path.url, class: 'img-fluid' %>

        <% if user.id == current_user.id %>
          <div class="float-right">
            <%= link_to 'Set as profile',
                        photo_set_profile_path(photo),
                        method: :post
            %>
            <br>
            <%= link_to 'Set as cover',
                        photo_set_cover_path(photo),
                        method: :post %>
            <br>
            <%= link_to 'Delete photo', photo_path(photo), method: :delete, data: { confirm: 'Ya sure?' } %>
          </div>
        <% end %>

      </div>

      <div class="col-sm-5">
        <div class="row">
          <div class="col-sm-12">
            <div class="card-text">
              <%= display_profile_photo(user, size: '65', classes: 'img-thumbnail float-left mr-sm-1') %>

              <%= user.name %><br>
              <span class="text-secondary">
                    <%= photo.formatted_date %>
                  </span>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12">
            <div class="card-text">
              <%= likable_actions photo %>
            </div>
          </div>
        </div>

        <div class="row top-buffer">
          <div class="col-sm-12">
            <div class="card-text">
              <%= render partial: 'comments/form',
                         locals: { commentable: photo } %>
            </div>
          </div>
        </div>

        <%= render partial: 'comments/comments', locals: { comments: comments } %>

      </div>
    </div>
  </div>
<% end %>

<%= render partial: 'photos/photos_layout', locals: { user: user } %>
