<%= content_for :photo_content do %>
  <div class="card-body">
    <div class="row">
      <div class="col-sm-7">
        <%= image_tag photo.file_path.url, class: 'img-fluid' %>
      </div>

      <div class="col-sm-5">
        <p class="card-text">
          <%= user.name %><br>
          <span class="text-secondary">
                    <%= PhotoDecorator.new(photo).formatted_date %>
                  </span>
        </p>
      </div>
    </div>
  </div>
<% end %>

<%= render partial: 'photos/photos_layout', locals: { user: user } %>
