<div class="card bottom-buffer">
  <div class="card-body">
    <p><%= link_to user.name, user_path(user) %> <br>
      <span class="text-secondary">Posted on <%= post.formatted_date %></span></p>

    <p><%= post.body %></p>
  </div>
  <div class="card-header">
    <div class="row">
      <div class="col-sm-5">
        <%= link_to 'Like', '#', class: 'mr-sm-2' %>
        <%= link_to 'Comment', '#' %>
      </div>
      <% if current_user && current_user.id == user.id %>
          <div class="col-sm-3 offset-sm-4">
            <%= link_to 'Delete', post_path(post), method: :delete, data: { confirm: 'You sure?' } %>
          </div>
      <% end %>
    </div>
  </div>
</div>