<%= form_with(model: account, local: true) do |form| %>
    <div class="row">
      <div class="col">
        <% if account.errors.any? %>
            <div id="error_explanation" class=" alert alert-danger">
              <h2 class="h5"><%= pluralize(account.errors.count, 'error') %>:</h2>

              <ul class="list-unstyled">
                <% account.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                <% end %>
              </ul>
            </div>
        <% end %>
      </div>
    </div>

    <%= form.fields_for 'user_attributes' do |user_fields| %>
        <div class="row form-group">
          <div class="col"><%= user_fields.text_field :first_name, class: 'form-control', placeholder: 'First name' %></div>
          <div class="col"><%= user_fields.text_field :last_name, class: 'form-control', placeholder: 'Last name' %></div>
        </div>
    <% end %>


    <div class="form-group">
      <%= form.text_field :email, class: 'form-control', placeholder: 'Your email' %>
    </div>

    <div class="form-group">
      <%= form.password_field :password, class: 'form-control', placeholder: 'Your new password' %>
    </div>

    <div class="form-group">
      <%= form.password_field :password_confirmation, class: 'form-control', placeholder: 'Confirm your password' %>
    </div>

    <%= form.fields_for 'user_attributes' do |user_fields| %>
        <fieldset class="form-group">
          <legend>Birthday</legend>
          <%= user_fields.date_select :birthdate,
                                      { order: [:month, :day, :year],
                                           start_year: Date.today.year - 50,
                                           end_year: Date.today.year - 12,
                                           selected: Date.today.year - 21 },
                                      class: 'custom-select' %>
        </fieldset>

        <fieldset class="form-group">
          <legend>Sexual identity</legend>
          <%= user_fields.collection_select :sexual_id, User.sexual_ids, :first, :first %>
        </fieldset>
    <% end %>


    <%= form.submit 'Sign up!', class: 'btn btn-success btn-block' %>
<% end %>
